:root {
    --light-text: #BBB5AC;
    --dark-text: #23201B;
    --light-background-1: #BBB5AC;
    --dark-background-1: #23201B;
    --accent-1: #4F3632;
    --accent-2: #5E0B15;
    --accent-3: #39498C;
    --accent-4: #D16014;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Header css*/
header{
    display: flex;
    background-image: url("../img/AI-Banner.png");
    height: 400px;
    background-size: auto;
    background-position: center;
    position: relative;
}

nav{
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    list-style: none;
}

nav li{
    background-color: #000000;
}

nav a{
    color: var(--light-text);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

nav .active{
    background-color: var(--accent-3);
}

header h2{
    position: relative;
    bottom: 1rem;
    background-color: #10101080;
}

/* Footer css */
footer{
    color: var(--light-text);
    background-color: var(--accent-3);

    width: 100%;
    position: fixed;
    bottom: 0;
}

footer p{
    padding: 0;
}

footer a{
    color: var(--light-text);
    text-decoration: wavy;
}